@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Universidad de Oriente</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Universidad de Oriente</h2>
        <p>
            UNIVERSIDAD DE ORIENTE is sample appliaction that
            demostrates how to use Entity framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Welcome to Universidad de Oriente</h2>
        <p>
            UNIVERSIDAD DE ORIENTE is sample appliaction that
            demostrates how to use Entity framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Welcome to Universidad de Oriente</h2>
        <p>
            UNIVERSIDAD DE ORIENTE is sample appliaction that
            demostrates how to use Entity framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>

</div>
<br>
<div class="text-right">
    <h1>Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">== Buenas tienen pan == </a>.</p>
</div>
